body{
  font-family: Arial, Helvetica, sans-serif;
}
table{
  border-collapse: collapse;
  width: 300px;

  
}
td{
  border: 1px solid black;
  text-align: center;

  width: 50px;
}
tr.pirulito{
 font-weight: bold; 
 background-color: #e3e3e3;
}
td.vermelho{
  color: red;
  font-weight: bold;
}
p{
  color: red;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  
}
div.meses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


  
  
