@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: "source sans 3";
}

main {
  display: flex;
  background-color: #F1F1EA;
 border-radius: 5px;
  width: 520px;
  margin: auto;
  height: 1120px;
}
.center{
  text-align: center;
}
article {
  border: 1px solid white;
  margin: 20px;
  margin-top: 100px;
  width: 500px;
  margin: auto;
  background-color: white;
  height: 1080px;
  border-radius: 5px;
}
fieldset {
  border: 1px solid #bf8c91;
  width: 300px;
  margin: auto;
  margin-bottom: 100px;
}
h1 {
  text-align: center;
  color: white;
  font-family: "Roboto Slab";
}
h2 {
  text-align: center;
  color: #7494be;
  font-family: "Source Sans 3";
}
.centeri {
  text-align: center;
}

.colunas {
  display: flex;
  justify-content: center;
  width: 500px;
}
.espaço {
  text-align: center;
}
footer {
  background-color: #7494be;
  text-align: center;
}
header {
  background-color: #7494be;
}
a {
  color: white;
  text-decoration: none;
}


.furt {
  text-align: center;
}

.tudo {
  border: 1px solid black;
  border-radius: 20px;

  color: white;
  background-color: #bf8c91;
  padding: 5px;
  margin: 5px;
  text-align: center;
  width: 200px;
}
.tropa {
  border: 1px solid black;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: #bf8c91;
}
.turun {
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  background-color: #78a8bf;
  color: white;
}
.tiran {
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  background-color: #78a8bf;
  color: white;
}

h3 {
  color: #78a8bf;
  font-family: "Source Sans 3";
}
label {
  color: #7494be;
  font-family: "Source Sans 3";
}
legend {
  color: #bf8c91;
}
input {
  border: 1px solid #bf8c91;
}
.trote {
  width: 50px;
}
.grande {
  width: 300px;
}
.local {
  display: flex;
  gap: 2px;
  justify-content: center;
}
