section{
  background-color: #4169E1 ;
  width: 300px;
  margin: auto;
  border-radius: 5px;
  padding: 25px;

}
h1{
  text-align: center;
}
.tbt{
  text-align: center;
  font-size: 2em;
}

.espaço{
  padding: 25px;
  color: white;
}
.linha{
  border-top: 1px solid  white ;
  padding-top: 8px;
}
.trf{
  padding: 8px;
  border: 1px solid  #4169E1;
  background-color: #4169E1;
  color: white;
}
.tudo{
width: 300px;
padding: 5px;
text-align: center;
border-radius: 5px;
border: 1px solid white;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
}
.ok{
  color: white ;
  text-decoration: none;
}

